:root {
  --transition: 0.4s;
  --main-color: #5cd2b9;
}

/* Start Global Rules */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: #0c0c0c;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
/********************** Small **********************/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/********************** Medium **********************/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/********************** Large **********************/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  position: relative;
}

.main-title::before {
  content: "";
  position: absolute;
  bottom: -25px;
  width: 65px;
  height: 3px;
  background-color: var(--main-color);
}
/* End Global Rules */

/* Start Header */
header {
  background-color: #151515;
  color: white;
}

header .container {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header .logo {
  flex: auto;
}

header .menu-list {
  display: flex;
  gap: 35px;
}

header .menu-list li a {
  color: white;
  font-weight: bold;
  transition: var(--transition);
}

header .menu-list li a:hover {
  color: var(--main-color);
}

.menu-list .search {
  margin-top: 5px;
  color: var(--main-color);
  font-size: 18px;
}

header .menu-bar {
  display: none;
  font-size: 25px;
}

@media (max-width: 991px) {
  header .container {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
  }
  header .logo {
    text-align: center;
  }
}

@media (max-width: 767px) {
  header .logo {
    text-align: left;
  }

  header .logo img {
    width: 150px;
  }

  header .menu-list {
    gap: 15px;
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    padding: 20px;
    justify-content: center;
    z-index: 9999;
    background-color: #15211e;
    z-index: -11111;
  }

  header .menu-list li {
    font-size: 15px;
  }

  header .menu-bar {
    cursor: pointer;
    display: flex;
  }

  header .menu-bar:hover + .menu-list {
    top: 79px;
    z-index: 9999;
    transition: 0.4s;
  }
}

@media (max-width: 575px) {
  header .menu-list li {
    font-size: 11px;
  }
}
/* End Header */

/* Start Landing */
.landing {
  position: relative;
  height: calc(100vh - 107px);
  color: white;
  overflow: hidden;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #0c0c0c 0%,
    #0c0c0c 50%,
    #0c0c0c 50%,
    rgb(29, 54, 48, 1) 100%
  );
  z-index: -1;
}

.landing .container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.landing .text-content {
  width: 55%;
  position: relative;
  z-index: 2;
}

.text-content h4 {
  color: var(--main-color);
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text-content h1 {
  font-size: 65px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 45px;
}

.text-content h1 span {
  color: var(--main-color);
}

.text-content p {
  color: #adadad;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 40px;
  padding-right: 160px;
}

.btn-about {
  display: flex;
  margin-bottom: 20px;
}

.btn-about .play-btn {
  width: 75px;
  height: 75px;
  background-color: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
  position: relative;
  cursor: pointer;
}

.play-btn::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 5px solid rgba(20, 184, 166, 0.2);
  border-radius: 50%;
  animation: pulsate 1s infinite;
}

.play-btn::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 5px solid rgba(20, 184, 166, 0.1);
  border-radius: 50%;
  animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.play-btn i {
  font-size: 22px;
}

.btn-about .btn-about-text {
  padding-top: 25px;
}

.btn-about h5 {
  font-weight: 600;
  margin: 0;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding-bottom: 15px;
  position: relative;
  width: fit-content;
}

.btn-about h5::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #353535;
  margin-top: 10px;
}

.btn-about p {
  color: var(--main-color);
  margin: 0;
}

.landing .image-content {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.landing .image-content img {
  width: 650px;
  bottom: 230px;
  right: -130px;
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .landing .image-content {
    display: none;
  }

  .landing .text-content {
    width: 100%;
    text-align: center;
  }

  .landing .text-content h1 {
    font-size: 45px;
  }

  .landing .text-content .main-title::before {
    display: none;
  }

  .landing .text-content p {
    padding-right: 0;
  }

  .landing .text-content .btn-about {
    justify-content: center;
  }

  .landing .text-content .btn-about .btn-about-text {
    padding-top: 0;
  }
}

@media (max-width: 576px) {
  .landing .text-content h1 {
    font-size: 30px;
  }
}
/* End Landing */
